<h1>TEST DE PAGINA WEB</h1>
<p>
  Mi primera pagina web wena profe como tamosjajaijhasd
</p>
<h2>Hello world </h2>
<h3>12345678 waaagria</h3>
<h1>Angular 1: String interpolations</h1>
<p>
  Hola me llamo: {{ nombre }} {{apellido}}, y mi apodo es: {{apodo}}
  y mido: {{ altura}}.
  mi edad es: {{ edad }}


  <h1>

  </h1>
  <h2>

  </h2>
  ༼ つ ◕_◕ ༽つ༼ つ ◕_◕ ༽つ༼ つ ◕_◕ ༽つ༼ つ ◕_◕ ༽つ༼ つ ◕_◕ ༽つ༼ つ ◕_◕ ༽つ༼ つ ◕_◕ ༽つ༼ つ ◕_◕ ༽つ
  <h1>

  </h1>
  <h2>

  </h2>




<button
  (click)="saludar()"
>
  Aer tocame
</button>
<h2> RESULTADO : {{ resultado }}</h2>

<button (click)="sumarDos()">Sumar dos</button>


<button (click)="restarDos()">Restar dos</button>


  <button (click)="multiDos()">Multiplicar x 2</button>


  <button (click)="dividDos()">Dividir en 2</button>

